main {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  padding-block: 24px;
}

main img {
  width: 286px;
  height: 286px;
  object-fit: cover;
  filter: saturate(0) ;
  border-radius: 8px;
}

main img:hover {
  transform: scale(1.1) rotate(2deg);
  transition: all 300ms ease;
  filter: saturate(1);
}